/* setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;text-decoration:none;color:inherit;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
html{font-size: 62.5%;}
img {max-width: 100%; height: auto; display: block;}
ul {list-style-type: none;}
figure{margin:0;}
/* End Setup */

/* trying out a mobile first design this time */

/* global styles */
body {
  font-family: 'Pompiere', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: rgb(34, 34, 34);
  background-image: url(./assets/lightpaperfibers.png);
}

.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
}

h1{
  font-family: 'Oleo Script', serif;
  font-size: 10rem;
  margin: 2% 0;
}

h2, h4, button {
  font-family: 'Corben', cursive;
}

h2 {
  margin: 5% 0 5% 0;
  text-transform: capitalize;
  font-size: 5rem;
}

.landingPage h2 {
  font-size: 3rem;
}

h4 {
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 4rem;
  margin-bottom: 10%;
}

h6 {
  font-size: 3rem;
  margin: 5% 0;
  text-transform: uppercase;
  font-weight: 300;
}

.largeImg {
  margin: 5% 0 10% 0;
  box-shadow: 3px -3px 0 3px rgb(34, 34, 34), -3px 3px 0  rgb(34, 34, 34);
}

a {
  color: #31dbae;
}

/* landing page styles */

.landingPage {
  max-height: 100vh;
}

button {
  margin: 2.5% 0 5% 0;
  padding: 2.5% 0;
  width: 55vw;
  background-color: #a6a6a6;
  color: rgb(34, 34, 34);
  text-shadow: 0 0 12px white;
  text-transform: capitalize;
  border: none;
  box-shadow: 3px -3px 0 3px rgb(34, 34, 34), -3px 3px 0  rgb(34, 34, 34);
  transition: background-color 300ms;
}

button:hover, button:focus, .listContainer li:hover, .listContainer li:focus {
  background-color: #fce47f;
}

button:active, .listContainer li:active {
  background-color: #8ce4cc;
}

.backArrow {
  width: 50px;
  position: fixed;
  bottom: 40px;
  left: 15px;
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  border-radius: 50px;
}

/* My Tastings Styles */
.myTastings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 0;
}

.likedContainer, .dislikedContainer {
  box-shadow: 3px -3px 0 3px rgb(34, 34, 34), -3px 3px 0  rgb(34, 34, 34);
  width: 48%;
  text-align: left;
  padding-left: 2%;
}

.chosenRating {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2% 0;
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.rowContainer {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tastingImg {
  width: 60%;
}

.nose {
  width: 45%;
}

.aromaFlavours {
  margin: 0;
  padding: 0;
}

/* New Tastings */
form {
  width: 90vw;
}

/* Text inputs */
.textInputs {
  text-align: left;
  box-shadow: 3px -3px 0 3px rgb(34, 34, 34);
  padding: 3% 0;
}

.textInputs h4 {
  text-align: center;
  margin: 5% 0;
}

.inputRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0;
}

input[type=text] {
  margin-right: 3%;
  padding: 5px;
  border: none;
  color:  rgb(34, 34, 34);
  font-family: 'Pompiere', sans-serif;
  font-weight: bold;
  background: transparent;
  box-shadow: -3px 3px 0  rgb(34, 34, 34);
}

input[type=text]:focus {
  background: #8ce4cc;
}

.required {
  text-align: right;
  padding-right: 3%;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 1);
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

input[type=radio] + label,
input[type=checkbox] + label {
  text-transform: capitalize;
  transition: all 300ms;
}

.radioContainer input[type=radio] + label,
.checkContainer input[type=checkbox] + label {
  padding: 5px 20px;
  border-radius: 50px;
}

.radioRowContainer,
.checkRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.radioContainer,
.checkContainer {
  display: flex;
  text-align: center;
}

.radioContainer input[type=radio]:focus + label,
.radioContainer input[type=radio]:hover + label,
.radioContainer input[type=radio]:checked + label,
.checkContainer input[type=checkbox]:focus + label,
.checkContainer input[type=checkbox]:hover + label,
.checkContainer input[type=checkbox]:checked + label {
  background: rgba(252, 228, 127, .8);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading img {
  width: 40%;
}

form img {
  padding-bottom: 10px;
}

.formLabel {
  text-align: left;
  box-shadow: 3px -3px 0 3px rgb(34, 34, 34);
  padding: 2% 0;
  text-transform: capitalize;
}

.formSection {
  margin: 5% 0 10% 0;
  width: 100%;
}

.radioBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 14px rgba(34, 34, 34, 0.4);
}

.radioBar label {
  font-size: 3rem;
  display: inline-block;
  cursor: pointer;
  padding: 3% 0 3% 4%;
  color:  rgb(34, 34, 34);;
  text-shadow: 0 2px 4px rgba(34, 34, 34, 0.5 );
}

.radioBar label:last-of-type {
  padding-right: 4%;
}

.radioBar input[type=radio]:checked + label,
.radioBar input[type=radio]:focus + label,
.radioBar input[type=radio]:hover + label {
  text-shadow: 3px 3px 15px rgba(140, 228, 204, 1), -3px 3px 15px rgba(140, 228, 204, 1), 3px -3px 15px rgba(140, 228, 204, 1), -3px -3px 15px rgba(140, 228, 204, 1);
  text-decoration-line: underline;
  text-underline-offset: 8px;
}

.beerColour {
  background-image: linear-gradient(110deg, #fbe3a0 0%, #c16a32 40%, #5e2a19 75%, #2c2e35 100%);
}

.beerColour label{
  font-size: 1.95rem;
  padding: 5% 0 5% 4%;
  color: white;
}

.beerColour input[type=radio]:checked + label,
.beerColour input[type=radio]:focus + label,
.beerColour input[type=radio]:hover + label {
  text-shadow: 2px 2px 4px rgba(34, 34, 34, 1);
}

.drinkAgain{
  margin-bottom: 5%;
}

/* footer style */
.attribution {
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  label, .beerColour label, input[type=text], button, .listContainer li, .chosenRating p, h3, h4{
    font-size: 3rem;
  }
  h6{
    font-size: 5rem;
  }
  form{
    width: auto;
  }
  .radioBar label {
    padding: 2%;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    width: 85%;
  }
  h1{
    font-size: 15rem;
  }
  h2, .landingPage h2{
    font-size: 6rem;
  }
  .inputRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
  }
  .radioBar label {
    padding: 5 0 2 0;
  }
  .chosenRating p {
    font-size: 4rem;
  }
}